/* body {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } */
#map{
    height: 750px;
    width: 850px;
    border: black 2px solid;
    margin: 0px auto;
}
/* .caro_img{
    width: 500px;
    height: 450px;
    margin: 20px 0px;
    border: 2px black solid;
    border-radius: 5px;
} */
.trail_img{
    border: 3px black solid;
    border-radius: 5px;
}
.data{
    display: none;
}