<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>LandEscape Blog</title>
  </head>

  <body>
    <div class="container-fluid">
        
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <h2 class="logo mr-4 text-white">LandEscape</h2>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" disabled href="/about" tabindex="-1" aria-disabled="true">About</a>
                </li>
                <li class="nav-item inactive">
                  <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/profile">Profile</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

          <!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Favorite National Parks
    <small>Yosemite</small>
  </h1>

  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card h-100">
        {% load static %}
        <a href="#"><img class="card-img-top" src="{% static "media/ynf.jpg" %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">The Yosemite Valley</a>
          </h4>
          <p class="card-text">Situated in the western Sierra Nevada of Central California, Yosemite attracts nearly 4 million people every year. The National Park boasts one of the largest and least fragmented habitat blocks in the Sierra Nevada.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        {% load static %}
        <a href="#"><img class="card-img-top" src="{% static "media/valley.jpg" %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Yosemite </a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        {% load static %}
        <a href="#"><img class="card-img-top" src="{% static "media/three_rocks.jpg" %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Half Dome</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      <!-- </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        {% load static %}
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Four</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        {% load static %}
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Five</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        {% load static %}
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Six</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- /.row -->

  <!-- Pagination -->
  <!-- <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul>

</div> -->
<!-- /.container -->

        <!-- <div class="jumbotron">
            <h1 class="display-4">Blog</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore temporibus sed ex obcaecati at iste exercitationem eveniet, laboriosam eum tempore. </p>
            
        <div class="card">
            <div class="card-header">
                2/26/2020
            </div>
            <div class="card-body">
                <h5 class="card-title">Our Story</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis eum, nulla eaque repellat voluptas error magni doloremque quis magnam consequatur, dicta nobis inventore, suscipit natus blanditiis placeat eius eveniet corporis.</p>
            <hr>
            </div>
            </div>    
            
        <div class="card">
            <div class="card-header">
                Quote
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>“We need the tonic of wildness...At the same time that we are earnest to explore and learn all things, we require that all things be mysterious and unexplorable, that land and sea be indefinitely wild, unsurveyed and unfathomed by us because unfathomable. We can never have enough of nature.”</p>
                <footer class="blockquote-footer">Henry David Thoreau <cite title="Source Title">Walden: Or, Life in the Woods</cite></footer>
                </blockquote>
            </div>
            </div> -->
        
    </div> <!--End of Container-->


  </body>
</html>