<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
    <title>LandEscape Home</title>
  </head>

  <body>
    <div class="container-fluid">
        
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navigation" id="navbarTogglerDemo01">
              <h2 class="logo mr-4 text-white">LandEscape</h2>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" disabled href="/" tabindex="-1" aria-disabled="true">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/blog">Blog</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" disabled href="/profile">Profile</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
             
          
          <!-- Page Content -->
          <div class="container">
            <div class="card border-0 shadow my-5">
              <div class="card-body p-5">
                <h1 class="font-weight-dark">Welcome to LandEscape</h1>
                <p class="lead">
                  
                   
                  At LandEscape, we are lovers of the outdoors. We're always exploring, planning our next camping trip, and looking for our next adventure. We are here to make your life easier by providing you with the best hikes and camping grounds in the area of your choosing.</p>

                  <hr>
                  <a class="btn btn-primary btn-lg btn-block text-white" href="/map">Find a Hike</a>
                  
                  <hr>
                  <h2 class="font-weight-dark">Create a user profile</h2>
                  <p class="lead">
                    Create a user profile and add hikes to your to-do list. Keep track of all the hikes you've completed and tell your friends about all the amazing trails you've discovered. 
                  </p>
                  
                  <hr>
                  
                    <div class="d-flex justify-content-center">

                      <a class="btn btn-danger btn-lg btn-block text-white mr-1" href="/register_page">Register</a>
                      
                    
                      <a class="btn btn-success btn-lg btn-block text-white mt-0 ml-1" href="/login_page">Login</a>
                  
                    </div>
                  <hr>


                  <div class="card-columns"> 
                     <div class="card">
                        {% load static %}
                      <img src="{% static "media/trails.jpg" %}" class="card-img-top" alt="trails">
                      <div class="card-body">
                        <h5 class="card-title">Find the best trails</h5>
                        <p class="card-text">Get trail name, latitude, longitude, difficulty and weather conditions.</p>
                      </div>
                    </div>
                    <div class="card p-3">
                      <blockquote class="blockquote mb-0 card-body">
                        <p>"Takes you off the beaten path and into nature faster than you can say sasquatch!"</p>
                        <footer class="blockquote-footer">
                          <small class="text-muted">
                            Paul Yoon, <cite title="Source Title">App Developer</cite>
                          </small>
                        </footer>
                      </blockquote>
                    </div>
                    <div class="card">
                        {% load static %}
                      <img src="{% static "media/tents.jpg" %}" class="card-img-top" alt="tents">
                      <div class="card-body">
                        <h5 class="card-title">Search nearby campgrounds</h5>
                        <p class="card-text">Whether you're glamping or going on a backcountry excursion, find your basecamp.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                      </div>
                    </div>
                    <div class="card bg-info text-white text-center p-3">
                      <blockquote class="blockquote mb-0">
                        <p>"Easily one of the best tools for the weekend warrior and seasoned outdoorsman alike"</p>
                        <footer class="blockquote-footer text-white">
                          <small>
                            John Muir,<cite title="Source Title">  Probably</cite>
                          </small>
                        </footer>
                      </blockquote>
                    </div> 
                  
                    <div class="card">
                        {% load static %}
                      <img src="{% static "media/fishing.jpg" %}" class="card-img-top" alt="...">
                    </div>
                    <div class="card p-3 text-right">
                      <blockquote class="blockquote mb-0">
                        <p>“To explore the diversity of Mother Nature with all five senses and allow it to evolve you as a Human Being is truly Travel”</p>
                        <footer class="blockquote-footer">
                          <small class="text-muted">
                            Sanjay Madan <cite title="Source Title"></cite>
                          </small>
                        </footer>
                      </blockquote>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">“Do not go where the path may lead; go instead where there is no path and leave a trail.”</p>
                        <small class="text-muted">
                            Ralph Waldo Emerson, <cite title="Source Title">Transcendentalist</cite>
                        <p class="card-text"><small class="text-muted"> </small></p>
                      </div>
                    </div>
                  </div> 
                  
                <div style="height: 10px"></div>
                <p class="lead mb-0" style="text-align: center">Happy Trails!</p>
              </div>
          
        </div> 
    
        
        
    </div> <!--End of Container-->


  </body>
</html>