<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="903065443636-f9kfjh7fk14o39ouv1e57f556ppm8hpm.apps.googleusercontent.com">
    <!-- Bootstrap CSS, jQuery  -->
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=854227155021587&autoLogAppEvents=1""></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/google_signin.js' %}"></script>
    <title>LandEscape</title>
  </head>

  <body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <h2 class="logo mr-4">LandEscape</h2>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog">Blog</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">LandEscape</h1>
                <p class="lead">Your one-stop destinaton for the best Trails, Campgrounds, and Fishing</p>
            </div>
        </div>
          

        <div class="container">
            <div class="row">
                <div class="col form-group">
                    <h2> Registration</h2>

                    <form action="/register" method="POST">
                    {% csrf_token %}
                    <label>First Name</label>
                    <input class="form-control" type="text" name="first_name">

                    <label>Last Name</label>
                    <input class="form-control" type="text" name="last_name">

                    <label>Email</label>
                    <input class="form-control" type="text" name="email">

                    <label>Password</label>
                    <input class="form-control" type="password" name="password">

                    <label>Password Confirmation</label>
                    <input class="form-control" type="password" name="pass_conf">
                    
                    <input class="btn btn-info mt-2" type="submit" value ="Register">
                    </form>
                </div> <!--END OF REGISTRATION COL-->

        <!-------------------------------------------LOGIN-->
                <div class="col form-group">
                    <h2>Login</h2>
                    
                    <form action="/login" method="POST">
                    {% csrf_token %}
                    <label>Email</label>
                    <input class="form-control" type="text" name="email_input">

                    <label>Password</label>
                    <input class="form-control" type="password" name="password_input">

                    <input class="btn btn-info mt-2 mb-2" type="submit" value="Login">
                    </form>
                    <div class="card text-center" style="width: 100%;">
                  
                      <ul class="list-group list-group-flush text-center">
                        <div class="card-header">
                          O-Auth Login
                        </div>
                        <li class="list-group-item d-flex justify-content-around g-signin2" data-onsuccess="onSignIn"></li>
                        <li class="list-group-item d-flex justify-content-around fb-login-button" data-width="200px" data-size="medium" data-button-type="login_with" data-auto-logout-link="true" data-use-continue-as="false"></li>
                        <div id="fb-root"></div>

                      </ul>
                    </div>

                </div>
                

                <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

                
                  <div class="data">
                    <p>Profile Details</p>
                    <p>Email Address</p>
                    <p id="email" class="alert alert-danger"></p>
                    <button onclick="signOut();">Sign Out</button> <!--END OF LOGIN COL-->
                  </div> 
            </div> <!-- END OF ROW -->

        </div>
    </div>


        

</body>
</html>